<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:db.db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <mapping class="fr._14.pcd.codingweek15.model.User"/>
        <mapping class="fr._14.pcd.codingweek15.model.Loan"/>
        <mapping class="fr._14.pcd.codingweek15.model.Element"/>
        <mapping class="fr._14.pcd.codingweek15.model.Message"/>
        <mapping class="fr._14.pcd.codingweek15.model.Rating"/>
    </session-factory>
</hibernate-configuration>