.container {
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.label {
    -fx-font-size: 17px;
    -fx-text-fill: #333;

}

.h2 {
    -fx-font-size: 35px;
    -fx-text-fill: #333;
}


.link {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.link:hover {
    -fx-text-fill: #666;
    -fx-underline: true;
}

.tab-pane {
    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 30px;
}

.tab-pane .tab-header-area {
    -fx-background-color: #2c3e50; /* Couleur de fond de l'en-tête des onglets */
    -fx-padding: 5px 0px;
}

.tab-pane .tab-header-area .headers-region {
    -fx-padding: 2px 0px;
}

.tab-pane .tab-header-area .tab {
    -fx-background-color: #34495e; /* Couleur de fond des onglets non-sélectionnés */
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px 5px 0px 0px;
    -fx-background-radius: 5px 5px 0px 0px;
}

.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: #1abc9c; /* Couleur de fond de l'onglet sélectionné */
    -fx-font-weight: bold;
}

.tab-pane .tab-content-area {
    -fx-background-color: #ecf0f1; /* Couleur de fond du contenu des onglets */
}

.sidebar {
    -fx-background-color: #f0f0f0;
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.sidebar Label {
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 10px;
}

.sidebar Label:hover {
    -fx-text-fill: #007bff;
}

.sidebar Separator {
    -fx-padding: 5 0;
}
